<div id="<%= dom_id tournament %>">
  <p>
    <strong>Name:</strong>
    <%= tournament.name %>
  </p>

  <p>
    <strong>Buy in:</strong>
    <%= tournament.buy_in %>
  </p>

  <p>
    <strong>Award:</strong>
    <%= tournament.award %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= tournament.position %>
  </p>

  <p>
    <strong>Quantity players:</strong>
    <%= tournament.quantity_players %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= tournament.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= tournament.end_date %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= tournament.link %>
  </p>

  <p>
    <strong>Online:</strong>
    <%= tournament.online %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= tournament.platform %>
  </p>

</div>
