<tr>
  <th scope="row"><%= tournament.id %></th>
  <td><%= tournament.name %></td>
  <td><%= tournament.buy_in %></td>
  <td><%= tournament.award %></td>
  <td><%= tournament.quantity_players %></td>
  <td><%= tournament.position %></td>
  <td><%= tournament.online %></td>
  <td style="color: <%= tournament.balance.positive? ? 'green' : 'red' %>;">
    <%= tournament.balance %>
  </td>
</tr>
