<p style="color: green"><%= notice %></p>

<% content_for :title, "Tournaments" %>

<h1>Tournaments</h1>

<div id="tournaments">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">BUY IN</th>
        <th scope="col">AWARD</th>
        <th scope="col">PLAYERS</th>
        <th scope="col">POSITION</th>
        <th scope="col">ONLINE</th>
        <th scope="col">BALANCE</th>
      </tr>
    </thead>
    <tbody>
      <% @tournaments.each do |tournament| %>
        <%= render tournament %>
      <% end %>
    </tbody>
  </table>
</div>

<h4>
  <p>
    You played the total number <strong><u><%= @tournaments.count %></u></strong> of tournaments, <%= @tournaments.where(online:true).count %> online and <%= @tournaments.where(online:false).count %> live
  </p>
</h4>

<h3>
  <p>
    Currently your total balance is:
    <span style="color: <%= @tournaments.sum(&:balance).positive? ? 'green' : 'red' %>;">
      <%= @tournaments.sum(&:balance).to_f %>
    </span>
  </p>
</h3>

<a href="<%= new_tournament_path %>" class="btn btn-outline-secondary" role="button">Add Tournament</a>
